<div class="home">
  <div class="info">
    Ahsan Ayaz
  </div>
  <button (click)="logoutUser()">Logout</button>
  <div class="enter-the-app">
    <div class="links">
      <div class="link-item">
        <a routerLink="/todo">Enter</a>
      </div>
    </div>
    <div class="links">
      <div class="link-item">
        <a routerLink="/welcome/message2">Welcome Component</a>
      </div>
    </div>
    <div class="links">
      <div class="link-item">
        <a routerLink="users">Users</a>
      </div>
    </div>
    <div class="links">
      <div class="link-item"></div>
    </div>
    <div class="links">
      <div class="link-item"></div>
    </div>
  </div>
</div>
